@font-face {
	font-family: 'knowledge-light';
  	//src: url('fonts/knowledge/Knowledge-Light.woff') format('woff');
}

@font-face {
	font-family: 'knowledge-regular';
  	//src: url('fonts/knowledge/Knowledge-Regular.woff') format('woff');
}

@font-face {
	font-family: 'knowledge-medium';
  	//src: url('fonts/knowledge/Knowledge-Medium.woff') format('woff');
}

@font-face {
	font-family: 'knowledge-bold';
  	//src: url('fonts/knowledge/Knowledge-Bold.woff') format('woff');
}
