// Sheet of project colors
$orange: rgb(255, 144, 1);
$blue: #128fdd;
$border-grey: #EBEBEB;
$text-grey: #86888B;
$text-med-grey: #ABABAB;
$text-light-grey: #C3C4C5;
$text-black: #3f3f40;
$circle-grey: #e5e5e5;
$dark-grey: #9a9a9a;
$background-grey: #e6e6e6;
$placeholder: #FAFAFA;
$almost-black: #313132;
$small-text-grey: #717375;