.container{
	//font-size: 8rem;
}

.enter-lobby-button,
.new-table-button,
.login-button{
	margin: 5px;
	font-size: 14px;
	border: 1px solid black;
	padding: 6px;

	&:disabled{
		opacity: .5;
	}
}

.user{
	padding: 10px;
	border: 1px solid black;
	display: inline-block;
	text-align: center;

	p{
		margin: .5rem 0;
		font-size: 1.3rem;
	}

	img{
		width: 14rem;
		margin: 0 auto;
	}
}
